body{
    background-color:royalblue;
    justify-content: center;
    
    
}
.tombol1{
    background-color: azure;
    font-style: italic;
    font-size: 23px;
    justify-content: center;
    align-content: center;
    display:flex;
    
}