body{
    font-style:  serif;
    justify-content: center;
    background-image: url(back1.jpg);
    color: #EAEE0A;
    
    
}
.tombol1{
    background-color:#EEE731;
    font-style: serif;
    color:black;
    font-size: 23px;
    justify-items: center;
    align-content: center;
    
    
}