body{
    background-color: bisque;
    justify-items: center;

}
.tproduk{
    background-color: aqua;
    font-size: 24px;
    font-style: italic;
    
    justify-content: center;
}
.talamat{
    background-color: aqua;
    font-size: 24px;
    font-style: italic;
    justify-content: center;
}
.tinfo{
    background-color: aqua;
    font-size: 24px;
    font-style: italic;
    justify-content: center;
}